*{margin: 0;padding: 0;font-size: 100%;list-style: none;}
a{color: #666;text-decoration: none;}
:focus{outline: none;}
body{line-height: 1.5;font-size: 14px;font-family: "Microsoft YaHei";min-width: 1160px;background-color: #ffffff;}
html,body{scroll-behavior: smooth;}

.topNavBar{width:100%;background-color: #ffffff;border-bottom: 1px solid #d1d1d1;}
.topNavBar .innerBox{width: 1160px;margin:0 auto;height: 80px;position: relative}

.logoBlock{width: 100px;height: 100%;position: absolute;top: 0;left: 0;}
.logoBlock h1{background: url(../images/logo.png) no-repeat 50% 50%;width: 100%;height: 100%;overflow: hidden;text-indent: -9999px;}
.logoBlock a{display: block;width: 100%;height: 100%;}

.linksBlock{font-size: 16px;height: 100%;line-height: 80px;white-space: nowrap;position: absolute;top: 0;left: 230px;}
.linksBlock a{font-size: 16px;float: left;padding:0 20px;}
.linksBlock a:hover{color: #000}
.linksBlock a.cur{background: url(../images/p01.png) no-repeat 50% bottom;}

.searchBlock{background: url(../images/search.png) no-repeat 0 0;width: 290px;height: 30px;line-height:30px;position: absolute;top: 25px;left: 730px;}
.searchBlock input{border:none;margin: 0 0 0 20px;padding: 0;background: none;width: 230px;height: 100%;}

.loginBlock{position: absolute;top: 20px;right: 0;width: 120px;height: 40px;line-height: 40px;}
.loginBlock .notLogin{text-align: right;display: none;}
.loginBlock .notLogin a{margin-left: 10px;}
.loginBlock .notLogin .cur{background-color: #2091dd;color: #fff;padding:0 5px;border-radius: 3px}
.loginBlock .isLogin{display: block;}
.loginBlock .isLogin .loginPic{width: 40px;height: 40px;border-radius: 50%;background-size: contain;background-repeat: no-repeat;background-position: 50% 50%;display: block;float:right;transition:all ease .3s}
.loginBlock .isLogin .loginPic:hover{transform: scale(1.2)}
.loginBlock .isLogin .loginOtu{float:right;line-height: 40px;margin-left: 20px;}
.loginBlock .isLogin .loginOtu:hover{color: #f00}

.hotImgs{width: 100%;position: relative;height: 503px;}
.hotImgs .auto{width: 1160px;margin:0 auto;position: relative;height: 50px;top: 453px}
.hotImgs .txt{width: 100%;height:50px;background: url(../images/p02.png) no-repeat 0 0;position: absolute;bottom: 0;left: 0;font-size: 24px;color: #ffffff;text-indent: 60px;line-height: 50px;}
.hotImgs .bar{text-align: right;height: 2px;line-height:2px;width: 50%;right: 50px;bottom:22px;position: absolute;font-size: 0;}
.hotImgs .bar span{width: 20px;height: 2px;display:inline-block;background-color: #d2d2d2;cursor: pointer;margin-right: 10px;}
.hotImgs .bar .cur{background-color: #2091dd;}
.hotImgs .pic{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-repeat: no-repeat;background-position: 50% 50%;}

.middleNavBar{width:100%;background-color: #2091dd;height: 50px;line-height: 50px;font-size: 16px;margin-bottom: 50px;white-space: nowrap}
.middleNavBar .innerBox{width: 1160px;margin:0 auto;height: 100%;position: relative;text-align: justify;text-justify:inter-word;text-align-last:justify;}
.middleNavBar a{color: #fff;display: inline-block;padding:0 5px;}
.middleNavBar a:hover{background-color: #62b9f4;}

.block01{width: 100%;margin-bottom: 50px;}
.block01 .innerBox{width:1160px;margin:0 auto;overflow: hidden}
.block01 .item{width: 380px;height: 250px;position: relative;float:left;overflow: hidden;margin-right: 10px;}
.block01 a{display: block;width: 100%;height: 100%;position: relative;}
.block01 img{display: block;width: 100%;height: 100%;position: relative;}
.block01 .txt{display: block;width: 100%;height: 33px;line-height:33px;color:#fff;padding-top: 8px;background: url(../images/p03.png) no-repeat 0 0;position: absolute;bottom: -41px;transition:bottom .5s ease;font-size: 14px;text-indent: 18px;font-weight: normal}
.block01 .item:hover .txt{bottom:0;}
.block01 .item:last-child{margin-right: 0;}

.block02{width: 100%;margin-bottom: 30px;}
.block02 .innerBox{width:1160px;margin:0 auto;overflow: hidden}
.block02 .titSnippt{color: #333333;font-size: 24px;}
.block02 .hotTitlt{color: #333333;font-size: 24px;text-align: center;margin-bottom: 15px;}
.block02 .hotTitlt h2{font-weight: normal}
.block02 .hotTitlt a{color: #333333;}
.block02 .hotTitlt a:hover{color: #000;}
.block02 .list{}
.block02 .list li{float:left;width:50%;background: url(../images/p04.png) no-repeat 0 50%;text-indent: 20px;white-space: nowrap;height: 35px;line-height: 35px;}
.block02 .list a:hover{text-decoration: underline}

.MOREBlock{margin:0 auto 40PX;width:1160px;}

.BgColumn{background-color: #eaf1f9;padding:40px 0;}

.block03{width: 100%;margin-bottom: 30px;}
.block03 .innerBox{width:1160px;margin:0 auto;overflow: hidden;}
.block03 .titSnippt{color: #333333;font-size: 24px;margin-bottom: 20px;position: relative;}
.block03 .titSnippt .links{font-size: 16px;text-align: right;position: absolute;top: 10px;left:0;width:100%;}
.block03 .titSnippt .links a{border-right: 1px solid #dbe0e3;padding:0 20px;}
.block03 .titSnippt .links a:last-child{border:none;padding-right: 0;}
.block03 .titSnippt .links a:hover{text-decoration: underline}
.block03 .picItems{width: 1200px;}
.block03 .picItems .item{width: 280px;height: 230px;position: relative;background-color: #ffffff;float: left;margin: 0 14px 20px 0;}
.block03 .picItems .pic{width: 100%;height: 160px;display: block}
.block03 .picItems .pic img{display: block;width: 100%;height: 100%;}
.block03 .picItems .txt{height: 70px;background: url(../images/p05.png) 0 50% no-repeat;padding-left: 15px;position: relative}
.block03 .picItems .txt:before{content:"";width: 3px;height:30px;display:block;background-color: #000;position: absolute;top:20px;left:0;}
.block03 .picItems .txt h5{font-weight: normal;color: #666666;font-size: 12px;position: relative;top: 18px;}

.theme01 .titSnippt .links a{color: #2091dd;}
.theme01 .picItems .txt:before{background-color: #2091dd;}

.theme02 .titSnippt .links a{color: #f0b30d;}
.theme02 .picItems .txt:before{background-color: #f0b30d;}

.theme03 .titSnippt .links a{color: #fe6c0c;}
.theme03 .picItems .txt:before{background-color: #fe6c0c;}

.theme04 .titSnippt .links a{color: #679606;}
.theme04 .picItems .txt:before{background-color: #679606;}

.theme05 .titSnippt .links a{color: #2091dd;}
.theme05 .picItems .txt:before{background-color: #2091dd;}

.otherLinks{width: 100%;margin-bottom: 30px;padding:30px 0 0;}
.otherLinks .innerBox{width:1160px;margin:0 auto;overflow: hidden}
.otherLinks .titSnippt{color: #333333;font-size: 24px;margin-bottom: 20px;position: relative;}
.otherLinks .titSnippt .text{font-size: 12px;position: absolute;white-space: nowrap;left: 140px;bottom:5px;color: #666;}
.otherLinks .titSnippt .text span{margin-right: 30px;}
.otherLinks .links{font-size: 12px;}
.otherLinks .links ul{}
.otherLinks .links li{line-height: 38px;height: 38px;border-left: 1px solid #eaf1f9;float:left;width: 10%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;text-indent: 10px;}
.otherLinks .links a:hover{text-decoration: underline}

.footer{ text-align: center; padding: 30px 0 20px 0; background-color: #545454;font-size: 12px;color: #fff;line-height: 25px;}
.footer a{color: #fff;}
.footer span{color: #949494;}
.footer .line1 a{padding:0 14px;}
.footer .line2{}
